{% extends "base.html" %}
{% block content %}
<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="page-header">
            Website
            <small>Blog</small>
        </h1>

        {% for blog in articles %}
        <h2>
            <a href="/blog/{{ blog.id }}">{{ blog.title }}</a>
        </h2>
        <p class="lead">
            by {{ blog.author }}
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ blog.date }}</p>
        {% if blog.img %}
        <hr>
        <img class="img-responsive" src="{{ blog.img }}" alt="">
        <hr>
        {% endif %}
        <p>
            {{ blog.lead }}
        </p>
        <a class="btn btn-primary" href="/blog/{{ blog.id }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
        {% endfor %}

        <!-- Pager --
        <ul class="pager">
            <li class="previous">
                <a href="#">← Older</a>
            </li>
            <li class="next">
                <a href="#">Newer →</a>
            </li>
        </ul>
        -->
    </div>

    {% include "blog/side_navigation.html" %}

</div>
{% endblock %}